<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Tiktok Farlands</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>TIKTOK_CLIENT_KEY</key>
	<string>$(TIKTOK_CLIENT_KEY)</string>
	<key>TIKTOK_CLIENT_SECRET</key>
	<string>$(TIKTOK_CLIENT_SECRET)</string>
	<key>TIKTOK_REDIRECT_URI</key>
	<string>$(TIKTOK_REDIRECT_URI)</string>
	<key>TIKTOK_RECOMMENDATIONS_ENDPOINT</key>
	<string>$(TIKTOK_RECOMMENDATIONS_ENDPOINT)</string>
	<key>TIKTOK_TOKEN_EXCHANGE_ENDPOINT</key>
	<string>$(TIKTOK_TOKEN_EXCHANGE_ENDPOINT)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.tiktokfarlands.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tiktokfarlands</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
